body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.center-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: inherit;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-banner{
    background-image: url(images/donation15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.banner-text-primary{
    font-size: 80px;
    font-family:'Inter', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.banner-text-secondary{
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.banner-button{
    height: 80px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: #ff5959;
    color: #ffffff;
    font-size: 25px;
    font-family:'Inter', sans-serif;
    border: 0px;
    margin: 0px;
}

