body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.center-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: inherit;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-banner{
    background-image: url(./images/donation15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.banner-text-primary{
    font-size: 80px;
    font-family:'Inter', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.banner-text-secondary{
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.donate-now-button{
    height: 80px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: #ff5959;
    color: #ffffff;
    font-size: 25px;
    font-family:'Inter', sans-serif;
    border: 0px;
    margin: 0px;
}

.donation-section{
    height: 900px;
}

.donation-section-header{
    height: 120px;
    font-size: 42px;
    font-family:'Inter', sans-serif;
    font-weight: 1000;
    color: #121212;
    text-align: center;
}

.donation-section-text{
    font-size: 28px;
    font-family:'Poppins', sans-serif;
    color: #707070;
    margin: 40px;
}

.donation-amount-box{
    height: 160px;
    width: 170px;
    background-color: #fafafa;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #707070;
    text-align: center;
    margin-right: 20px;
}

.donation-amount-box-red{
    height: 160px;
    width: 170px;
    background-color: #FFEEEE;
    border: 3px solid #ff5959;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #FF5959;
    text-align: center;
    margin-right: 20px;
}

.donation-input-text{
    height: 70px;
    width: 50%;
    border-bottom: 1px solid #b3b3b3;
    font-family: "Poppins", sans-serif;
    color: #b3b3b3;
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
}

.donation-plan{
    height: 900px;
}

.plan-box-card{
    color: red;
    height: 400px;
    width: 500px;
    border-radius: 5px;
    background-color: rgba(79, 157, 166, 0.1);
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.plan-box-card-icon{
    padding-left: 25px;
    height: 65px;
    width: 70px;
}

.plan-box-card-text-primary{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #121212;
    padding-left: 25px;
}

.plan-box-card-text-secondary{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #707070;
    padding-left: 25px;
}

.card-color-1{
    background-color: rgba(79, 157, 166, 0.1);
}

.card-color-2{
    background-color: rgba(255, 89, 89, 0.1);;
}

.card-color-3{
    background-color: #fff4d6;
}

.receive-update{
    height: 900px;
}

.email-subscribe-box{
    width: 1000px;
    height: 250px;
    background-color: #fff4d6;
}

.email-input-box{
    width: 350px;
    background-color: #d9d9d9;
    border-radius: 5px 0px 0px 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #aa9f9f;
    text-align: left;
    padding-left: 10px;
}

.email-subscribe-button{
    width: 200px;
    background-color: #ff5959;
    border-color: #ff5959;
    border-radius: 0px 5px 5px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    padding: 18px;
}

.page-footer{
    width: 100%;
    background-color: #0b0d17;
}

.footer-text-primary{
    font-family: "Lobster",cursive;
    font-size: 45px;
    color: #ff5959;
}

.footer-text-secondary{
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    color: #d9dbe1;
    margin-top: -20px;
}

.fund-donation-tracker{
    height: 800px;
}

.fund-donation-title{
    height: 120px;
    font-size: 60px;
    font-family:'Inter', sans-serif;
    font-weight: 1000;
    color: #121212;
    text-align: center;
}

.fund-donation-subtitle{
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    color: #707070;
    margin: 40px;
}

.fund-tracker-row{
    margin-right: 80px;
}

.fund-tracker-row-margin{
    margin-left: 80px;
}

.fund-amount-primary{
    width: 300px;
    font-size: 40px;
    font-family:'Roboto', sans-serif;
    text-align: center;
    color: black;
    background-color: #fcf6bd;
    border-bottom: 1px solid black;
}

.fund-amount-secondary{
    width: 300px;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    text-align: center;
    color: black;
}